# Unity
Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/

# Visual Studio
.vs/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Environment
.env