VITE_BACKEND_WS_BASE_URL="ws://"
VITE_BACKEND_BASE_URL="http://"

PROD_SERVER_HOST="127.0.0.1"
PROD_SERVER_ALLOWED_HOST="client_domain.com"

VITE_BRAND_NAME="client_brand"

VITE_TOKEN_NAME="token"

VITE_API_KEY="eypao...."