PORT="3000"
VERSION="v1"
BASEROUTE="api"
WHITELIST=""

NODE_ENV="development"

# XAMPP MySQL Database (default: root with no password)
DATABASE_URL="mysql://root@localhost:3306/cbgame_db"

ENC_KEY_SECRET=""
CIPHER_KEY_SECRET=""
API_KEY_SECRET=""
API_KEY=""
